header {
	position: fixed!important;
	top:0;
	width: 100%;
}


/* Footer 
--------------------------------------------------*/

footer {
	position: fixed;
	bottom:0;
	width: 100%;
	background: #552c2c;
	color: #FFF;
	height: 3em;
}

#scroller{
	
	margin: 0 auto;
	width: 80%;
}

/* Panes 
--------------------------------------------------*/

#panelContainer {
    position: absolute;
    /*height: 100%;*/
    overflow: visible;
    padding-top: 2%;

}
#maincontent{
	width: 100%;
height: 450px;
overflow-y: hidden;
overflow-x: auto;
position: relative;
padding-top: 2%;
}

.panel{
	width: 1000px;
	height: 400px;
	float: left;
	background: #6bb4f7;
	margin-right: 1px;
}
.panel:last-child {
	background: lime;
}
.panel[section=opening] button {
	margin: 0px auto;
	margin: 0px auto;
	position: relative;
	top: 300px;
	display: block;
}
.panel[section=intro]{
	background-color: #f37ef9;
}